<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="userBean" class="com.learn.note.practice.ioc.common.beans.UserBean">
        <property name="userName" value="Fuck"/>
        <property name="userPassword" value="hehehe"/>
    </bean>
</beans>